

# Global period constraint
NET "clk" TNM_NET = "clk_b31e17a5";
TIMESPEC "TS_clk_b31e17a5" = PERIOD "clk_b31e17a5" 3.9062 ns HIGH 50 %;

# Offset in constraints

# Offset out constraints

# Offset inout constraints

# LOC constraints
NET "clk" LOC = "d7hack";
