## supports roach2 rev 1 (derived from roach2_rev1.ucf)
# VRN/VRP sharing

INST "*chan_sel*" AREA_GROUP = "chansel";
INST "*mixer*" AREA_GROUP = "chansel";
AREA_GROUP "chansel" RANGE=SLICE_X106Y0:SLICE_X209Y45;
AREA_GROUP "chansel" RANGE=DSP48_X7Y0:DSP48_X13Y17;
AREA_GROUP "chansel" RANGE=RAMB18_X7Y0:RAMB18_X14Y17;
AREA_GROUP "chansel" RANGE=RAMB36_X7Y0:RAMB36_X14Y8;

INST "*dds_delay*" AREA_GROUP = "ddsdelay";
AREA_GROUP "ddsdelay" RANGE=SLICE_X88Y45:SLICE_X135Y147;
AREA_GROUP "ddsdelay" RANGE=DSP48_X7Y18:DSP48_X7Y57;
AREA_GROUP "ddsdelay" RANGE=RAMB18_X7Y18:RAMB18_X8Y57;
AREA_GROUP "ddsdelay" RANGE=RAMB36_X7Y9:RAMB36_X8Y28;

INST "*downsample*" AREA_GROUP = "downsamp";
INST "*conv_phase*" AREA_GROUP = "downsamp";
INST "*acc_iq*" AREA_GROUP = "downsamp";
AREA_GROUP "downsamp" RANGE=SLICE_X136Y50:SLICE_X209Y150;
AREA_GROUP "downsamp" RANGE=DSP48_X8Y20:DSP48_X13Y59;
AREA_GROUP "downsamp" RANGE=RAMB18_X9Y20:RAMB18_X14Y59;
AREA_GROUP "downsamp" RANGE=RAMB36_X9Y10:RAMB36_X14Y29;

INST "*prog_fir*" AREA_GROUP = "progfir";
INST "*gbe64*" AREA_GROUP = "progfir";
INST "*phase_dmp*" AREA_GROUP = "progfir";
INST "*a2g_ctrl*" AREA_GROUP = "progfir";
AREA_GROUP "progfir" RANGE=SLICE_X140Y150:SLICE_X209Y359;
AREA_GROUP "progfir" RANGE=DSP48_X9Y60:DSP48_X13Y143;
AREA_GROUP "progfir" RANGE=RAMB18_X9Y60:RAMB18_X14Y143;
AREA_GROUP "progfir" RANGE=RAMB36_X9Y36:RAMB36_X14Y71;

INST "*capture*" AREA_GROUP = "capture";
INST "*pack_buf*" AREA_GROUP = "capture";
INST "*timekeeper*" AREA_GROUP = "capture";
AREA_GROUP "capture" RANGE=SLICE_X116Y93:SLICE_X139Y359;
AREA_GROUP "capture" RANGE=DSP48_X7Y38:DSP48_X8Y143;
AREA_GROUP "capture" RANGE=RAMB18_X7Y38:RAMB18_X8Y143;
AREA_GROUP "capture" RANGE=RAMB36_X7Y19:RAMB36_X8Y71;


INST "*pfb_fir*" AREA_GROUP = "pfb_fir";
AREA_GROUP "pfb_fir" RANGE=SLICE_X0Y302:SLICE_X107Y359;
AREA_GROUP "pfb_fir" RANGE=DSP48_X0Y122:DSP48_X6Y143;
AREA_GROUP "pfb_fir" RANGE=RAMB18_X0Y122:RAMB18_X6Y143;
AREA_GROUP "pfb_fir" RANGE=RAMB36_X0Y61:RAMB36_X6Y71;

INST "*fft_stage_3_*" AREA_GROUP = "fft_stg1to3";
INST "*fft_stage_1_*" AREA_GROUP = "fft_stg1to3";
INST "*fft_stage_2_*" AREA_GROUP = "fft_stg1to3";
INST "*fft_stage_1_*" AREA_GROUP = "fft_stg1to3";
INST "*adc_in*" AREA_GROUP = "fft_stg1to3";
AREA_GROUP "fft_stg1to3" RANGE=SLICE_X0Y236:SLICE_X107Y299;
AREA_GROUP "fft_stg1to3" RANGE=DSP48_X0Y96:DSP48_X6Y119;
AREA_GROUP "fft_stg1to3" RANGE=RAMB18_X0Y96:RAMB18_X6Y119;
AREA_GROUP "fft_stg1to3" RANGE=RAMB36_X0Y48:RAMB36_X6Y59;

INST "*fft_stage_4*" AREA_GROUP = "fft_stg4to6";
INST "*fft_stage_5*" AREA_GROUP = "fft_stg4to6";
INST "*fft_stage_6*" AREA_GROUP = "fft_stg4to6";
AREA_GROUP "fft_stg4to6" RANGE=SLICE_X0Y234:SLICE_X107Y93;
AREA_GROUP "fft_stg4to6" RANGE=DSP48_X0Y38:DSP48_X6Y93;
AREA_GROUP "fft_stg4to6" RANGE=RAMB18_X0Y38:RAMB18_X6Y93;
AREA_GROUP "fft_stg4to6" RANGE=RAMB36_X0Y19:RAMB36_X6Y46;

INST "*fft_stage_7*" AREA_GROUP = "fft_stg7to8";
INST "*fft_stage_8*" AREA_GROUP = "fft_stg7to8";
AREA_GROUP "fft_stg7to8" RANGE=SLICE_X0Y93:SLICE_X107Y130;
AREA_GROUP "fft_stg7to8" RANGE=DSP48_X0Y38:DSP48_X6Y60;
AREA_GROUP "fft_stg7to8" RANGE=RAMB18_X0Y38:RAMB18_X6Y60;
AREA_GROUP "fft_stg7to8" RANGE=RAMB36_X0Y19:RAMB36_X6Y30;

INST "*cplx_unscrambler*" AREA_GROUP = "cplx_unscr";
AREA_GROUP "cplx_unscr" RANGE=SLICE_X0Y93:SLICE_X107Y107;
AREA_GROUP "cplx_unscr" RANGE=DSP48_X0Y38:DSP48_X6Y41;
AREA_GROUP "cplx_unscr" RANGE=RAMB18_X0Y38:RAMB18_X6Y41;
AREA_GROUP "cplx_unscr" RANGE=RAMB36_X0Y19:RAMB36_X6Y20;

INST "*fft_direct*" AREA_GROUP = "fft_direct";
AREA_GROUP "fft_direct" RANGE=SLICE_X0Y0:SLICE_X107Y93;
AREA_GROUP "fft_direct" RANGE=DSP48_X0Y0:DSP48_X6Y35;
AREA_GROUP "fft_direct" RANGE=RAMB18_X0Y0:RAMB18_X6Y35;
AREA_GROUP "fft_direct" RANGE=RAMB36_X0Y0:RAMB36_X6Y17;

INST "*fft_unscrambler*" AREA_GROUP = "fft_unscrambler";
AREA_GROUP "fft_unscrambler" RANGE=SLICE_X0Y0:SLICE_X107Y26;
AREA_GROUP "fft_unscrambler" RANGE=DSP48_X0Y0:DSP48_X6Y9;
AREA_GROUP "fft_unscrambler" RANGE=RAMB18_X0Y0:RAMB18_X6Y9;
AREA_GROUP "fft_unscrambler" RANGE=RAMB36_X0Y0:RAMB36_X6Y4;
