################## Global Timing Constraints
#

Net sys_clk_n TNM_NET = sys_clk_n;
TIMESPEC TS_sys_clk_n = PERIOD sys_clk_n 100 MHz;

Net dly_clk_n TNM_NET = dly_clk_n;
TIMESPEC TS_dly_clk_n = PERIOD dly_clk_n 200 MHz;

Net epb_clk TNM_NET = epb_clk;
TIMESPEC TS_epb_clk = PERIOD epb_clk 88 MHz;

################### Pin constraints
#

#
# System signals
#

NET "sys_clk_n"  LOC = H13;
NET "sys_clk_p"  LOC = J14;

NET "aux0_clk_p" LOC = G15;
NET "aux0_clk_n" LOC = G16;

NET "aux1_clk_p" LOC = H14;
NET "aux1_clk_n" LOC = H15;

NET "dly_clk_n"  LOC = J17;
NET "dly_clk_p"  LOC = J16;

#
# PPC External Peripheral Bus [EPB]
#

NET "ppc_irq_n"    IOSTANDARD = LVCMOS33 | LOC = G23;

# transparent endian change

NET "epb_data<15>" IOSTANDARD = LVCMOS33 | LOC = AH13;
NET "epb_data<14>" IOSTANDARD = LVCMOS33 | LOC = AH14;
NET "epb_data<13>" IOSTANDARD = LVCMOS33 | LOC = AH19;
NET "epb_data<12>" IOSTANDARD = LVCMOS33 | LOC = AH20;
NET "epb_data<11>" IOSTANDARD = LVCMOS33 | LOC = AG13;
NET "epb_data<10>" IOSTANDARD = LVCMOS33 | LOC = AH12;
NET "epb_data<9>"  IOSTANDARD = LVCMOS33 | LOC = AH22;
NET "epb_data<8>"  IOSTANDARD = LVCMOS33 | LOC = AG22;
NET "epb_data<7>"  IOSTANDARD = LVCMOS33 | LOC = AD19;
NET "epb_data<6>"  IOSTANDARD = LVCMOS33 | LOC = AE19;
NET "epb_data<5>"  IOSTANDARD = LVCMOS33 | LOC = AE17;
NET "epb_data<4>"  IOSTANDARD = LVCMOS33 | LOC = AF16;
NET "epb_data<3>"  IOSTANDARD = LVCMOS33 | LOC = AD20;
NET "epb_data<2>"  IOSTANDARD = LVCMOS33 | LOC = AE21;
NET "epb_data<1>"  IOSTANDARD = LVCMOS33 | LOC = AE16;
NET "epb_data<0>"  IOSTANDARD = LVCMOS33 | LOC = AF15;

# transparent endian change
NET "epb_addr<0>"  IOSTANDARD = LVCMOS33 | LOC = AE23;
NET "epb_addr<1>"  IOSTANDARD = LVCMOS33 | LOC = AE22;
NET "epb_addr<2>"  IOSTANDARD = LVCMOS33 | LOC = AG18;
NET "epb_addr<3>"  IOSTANDARD = LVCMOS33 | LOC = AG12;
NET "epb_addr<4>"  IOSTANDARD = LVCMOS33 | LOC = AG15;
NET "epb_addr<5>"  IOSTANDARD = LVCMOS33 | LOC = AG23;
NET "epb_addr<6>"  IOSTANDARD = LVCMOS33 | LOC = AF19;
NET "epb_addr<7>"  IOSTANDARD = LVCMOS33 | LOC = AE12;
NET "epb_addr<8>"  IOSTANDARD = LVCMOS33 | LOC = AG16;
NET "epb_addr<9>"  IOSTANDARD = LVCMOS33 | LOC = AF13;
NET "epb_addr<10>" IOSTANDARD = LVCMOS33 | LOC = AG20;
NET "epb_addr<11>" IOSTANDARD = LVCMOS33 | LOC = AF23;
NET "epb_addr<12>" IOSTANDARD = LVCMOS33 | LOC = AH17;
NET "epb_addr<13>" IOSTANDARD = LVCMOS33 | LOC = AH15;
NET "epb_addr<14>" IOSTANDARD = LVCMOS33 | LOC = L20;
NET "epb_addr<15>" IOSTANDARD = LVCMOS33 | LOC = J22;
NET "epb_addr<16>" IOSTANDARD = LVCMOS33 | LOC = H22;
NET "epb_addr<17>" IOSTANDARD = LVCMOS33 | LOC = L15;
NET "epb_addr<18>" IOSTANDARD = LVCMOS33 | LOC = L16;
NET "epb_addr<19>" IOSTANDARD = LVCMOS33 | LOC = K22;
NET "epb_addr<20>" IOSTANDARD = LVCMOS33 | LOC = K21;
NET "epb_addr<21>" IOSTANDARD = LVCMOS33 | LOC = K16;
NET "epb_addr<22>" IOSTANDARD = LVCMOS33 | LOC = J15;

# EPB multi purpose pins
NET "epb_addr_gp<0>" IOSTANDARD = LVCMOS33 | LOC = L21; # DMA_REQ_2
NET "epb_addr_gp<1>" IOSTANDARD = LVCMOS33 | LOC = G22; # DMA_ACK_2
NET "epb_addr_gp<2>" IOSTANDARD = LVCMOS33 | LOC = K23; # EOT_TC_2
NET "epb_addr_gp<3>" IOSTANDARD = LVCMOS33 | LOC = K14; # DMA_REQ_3
NET "epb_addr_gp<4>" IOSTANDARD = LVCMOS33 | LOC = L14; # DMA_ACK_3
NET "epb_addr_gp<5>" IOSTANDARD = LVCMOS33 | LOC = J12; # EOT_TC_3

#NET "epb_cs_alt_n"   IOSTANDARD = LVCMOS33 | LOC = AG17;
NET "epb_cs_n"       IOSTANDARD = LVCMOS33 | LOC = K13;
NET "epb_be_n<1>"    IOSTANDARD = LVCMOS33 | LOC = AF18;
NET "epb_be_n<0>"    IOSTANDARD = LVCMOS33 | LOC = AF14;
NET "epb_r_w_n"      IOSTANDARD = LVCMOS33 | LOC = AF20;
NET "epb_oe_n"       IOSTANDARD = LVCMOS33 | LOC = AF21;
#NET "epb_blast_n"    IOSTANDARD = LVCMOS33 | LOC = H23;
NET "epb_rdy"        IOSTANDARD = LVCMOS33 | LOC = K12;

NET "epb_clk_in"    IOSTANDARD = LVCMOS33 | LOC = AH18;


# ADC card 3 wire control
#NET "adc0_adc3wire_clk"       IOSTANDARD = LVCMOS25 | LOC = F28;
#NET "adc0_adc3wire_data"      IOSTANDARD = LVCMOS25 | LOC = D32;
#NET "adc0_adc3wire_strobe"    IOSTANDARD = LVCMOS25 | LOC = C32;
#NET "adc0_modepin"            IOSTANDARD = LVCMOS25 | LOC = E28;



##############################################
# IP UCF constraints                         #
##############################################

# timestamper/XSG core config

# timestamper/adc_mkid
NET adcmkid1_DRDY_I_p       TNM_NET = adcmkid1_DRDY_I_p;
TIMESPEC TS_adcmkid1_DRDY_I_p = PERIOD adcmkid1_DRDY_I_p 3.906 ns;
NET adcmkid1_DRDY_I_n       TNM_NET = adcmkid1_DRDY_I_n;
TIMESPEC TS_adcmkid1_DRDY_I_n = PERIOD adcmkid1_DRDY_I_n 3.906 ns;

NET adcmkid1_DRDY_Q_p       TNM_NET = adcmkid1_DRDY_Q_p;
TIMESPEC TS_adcmkid1_DRDY_Q_p = PERIOD adcmkid1_DRDY_Q_p 3.906 ns;
NET adcmkid1_DRDY_Q_n       TNM_NET = adcmkid1_DRDY_Q_n;
TIMESPEC TS_adcmkid1_DRDY_Q_n = PERIOD adcmkid1_DRDY_Q_n 3.906 ns;

NET "adcmkid1_DRDY_I_p" LOC = H17 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | PERIOD = 3.9062 ns ;
NET "adcmkid1_DRDY_I_n" LOC = H18 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | PERIOD = 3.9062 ns ;
NET "adcmkid1_DRDY_Q_p" LOC = K17 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | PERIOD = 3.9062 ns ;
NET "adcmkid1_DRDY_Q_n" LOC = L18 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE | PERIOD = 3.9062 ns ;
NET "adcmkid1_DI_p<0>" LOC = AE29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_p<1>" LOC = AF31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_p<2>" LOC = AD26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_p<3>" LOC = AE28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_p<4>" LOC = AD24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_p<5>" LOC = AG32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_p<6>" LOC = AF25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_p<7>" LOC = AG28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_p<8>" LOC = AG33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_p<9>" LOC = AF29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_p<10>" LOC = AE27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_p<11>" LOC = AH34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_n<0>" LOC = AD29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_n<1>" LOC = AG31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_n<2>" LOC = AD25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_n<3>" LOC = AF28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_n<4>" LOC = AE24 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_n<5>" LOC = AH32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_n<6>" LOC = AF26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_n<7>" LOC = AH28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_n<8>" LOC = AH33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_n<9>" LOC = AF30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_n<10>" LOC = AE26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DI_n<11>" LOC = AJ34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_p<0>" LOC = AK34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_p<1>" LOC = AJ30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_p<2>" LOC = AJ31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_p<3>" LOC = AH27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_p<4>" LOC = AM33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_p<5>" LOC = AK28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_p<6>" LOC = AN32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_p<7>" LOC = AK26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_p<8>" LOC = AL34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_p<9>" LOC = AJ25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_p<10>" LOC = AK29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_p<11>" LOC = AN34 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_n<0>" LOC = AK33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_n<1>" LOC = AH30 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_n<2>" LOC = AK31 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_n<3>" LOC = AJ26 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_n<4>" LOC = AM32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_n<5>" LOC = AK27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_n<6>" LOC = AP32 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_n<7>" LOC = AJ27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_n<8>" LOC = AL33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_n<9>" LOC = AH25 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_n<10>" LOC = AJ29 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_DQ_n<11>" LOC = AN33 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_ADC_ext_in_p" LOC = AC28 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;
NET "adcmkid1_ADC_ext_in_n" LOC = AD27 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE ;

# timestamper/pulses/addr

# timestamper/pulses/bram0

# timestamper/pulses/bram1

# timestamper/seconds

# timestamper/startBuffer


