

# Global period constraint
NET "clk" TNM_NET = "clk_ad08c544";
TIMESPEC "TS_clk_ad08c544" = PERIOD "clk_ad08c544" 3.9062 ns HIGH 50 %;

# Offset in constraints

# Offset out constraints

# Offset inout constraints

# LOC constraints
NET "clk" LOC = "d7hack";
